nav {
    background: transparent;
    height: 50px;
}

#myNavbar>ul>li {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.8s ease-out;
}

#myNavbar>ul>li:hover {
    border: 2px solid white;
    border-radius: 10px;
}

#myNavbar>ul>li>a {
    color: #25272b;
    font-family: 'Poppins', sans-serif;
    padding: 6px 0px;
    margin: 0px 10px;
    z-index: 1030;
    font-size: 15px;
}

.add-bgd {
    background-color: rgba(0,0,0,0.5);
}

.navbar-collapse {
    border-radius: 6%;
}

#home {
    background: url("https://raw.githubusercontent.com/hemakshis/hemakshis.github.io/master/images/home-bg.jpeg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#home-container {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 50%;
}

#name {
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    color: white;
    word-wrap: break-word;
    font-size: 5vw;
    letter-spacing: 1vw;
}

#keywords {
    font-family: 'Vidaloka', serif;
    color: white;
    word-wrap: break-word;
    font-size: 2vw;
}

#connect-with-me {
    padding: 0% 5%;
}

#connect-with-me>li {
    display: inline-block;
    padding: 0% 5%;
}

#connect-with-me>li>a>i {
    color: white;
    font-size: 2vw;
}

#h1-about, #h1-projects {
    padding-top: 5%;
    font-size: 3vw;
}

#about-hemakshi {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.pagination > li {
    cursor: pointer;
}

#pagination-projects>li>a, #pagination-projects>li>a:hover {
    background-color: white;
    border: white;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 0px;
}

#pagination-projects>li.active > a, #pagination-projects>li.active > a:hover {
    background-color: white;
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.card-img-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.40);
    max-width: 100% !important;
}

.card-img:hover + .card-img-overlay, .card-img-overlay:hover {
    display: block;
}

#pagination-api-dev, #pagination-front-end {
    position: absolute;
    bottom: -25%;
    left: 0;
    right: 0;
}

#resume {
    background-color: white;
    color: black;
}

@media (max-width: 576px) {
    #home-container {
        top: 40%;
        bottom: 10%;
    }
    #name {
        font-size: 8vw;
    }
    #h1-about, #h1-projects {
        padding: 6%;
        font-size: 8vw;
    }
    #keywords {
        font-size: 4vw;
    }
    #connect-with-me>li>a>i {
        font-size: 5vw;
    }
}